.textcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
  height: auto;
}
.textcard > * {
  max-width: 32.75rem;
  min-width: 5rem;
}

.cardComp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.cardComp .col {
  display: flex;
  justify-content: flex-end;
}
.textdecoration {
  border-radius: 6.1875rem;
  display: flex;
  padding: 0.0625rem 1.03344rem 0.14938rem 1.04594rem;
  justify-content: center;
  align-items: flex-start;
  color: var(--sucess-color);
  background: var(--sucess-color-2);
}
