.heroComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 55.375rem;
  gap: 1.5rem;
}

.logosX {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Path: src/sections/hero/hero.css */
/* videopaly */
.video {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}


.slider{
    width: 80%;
}

.playButton{
    background-color: transparent;
    border-color: transparent  ;
}