.hero-industries {
    position: relative;
    width: 95%;
    height: 600px;
    background-color: #008080;
    margin-block-start: 6rem;
    margin-inline: 2%;
    border-radius: 35px;

    .redirect-vide {
        position: absolute;
        background-color: aqua;
        width: 9rem;
        aspect-ratio: 1;
        margin-block-start: 2.1875rem;
        margin-inline-start: 1.875rem;
    }

    .go-to {
        position: absolute;
        background-color: aqua;
        bottom: 0;
        width: 8.125rem;
        aspect-ratio: 1;
        right: 35px;
        margin-block-end: 35px;
    }

    .content-center {
        display: grid;
        place-items: center;
        height: 100%;
    }
}