.principal{
  overflow: hidden;
}

.scrolltext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  object-fit: cover;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  animation-name: scrollview;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: 4s;
  animation-direction: normal;
  
}



@keyframes scrollview {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
  
}
